/* Grid of the whole page */

.grid-wrap-log {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
  grid-template-areas:
    ". . . title . . ."
    "table table table table table table table"
    "clear-btn clear-btn . . . report-btn report-btn";
  grid-gap: 2rem;
}

.clear-btn,
.report-btn {
  background-color: #1683bf;
  color: #ffffff;
  font-family: "Fredoka One", cursive;
  width: 220px;
  height: 90px;
  font-size: 2em;
  border-radius: 5px;
  border: none;
  margin-top: 3rem;
}

h2 {
  grid-area: title;
}

.log {
  grid-area: table;
}

.clear-btn {
  grid-area: clear-btn;
}

.report-btn {
  grid-area: report-btn;
}

/*Table*/

.log {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

tr {
  height: 1.7em;
}

.table-titles {
  background: var(--dark-color);
}
.row-dark-color {
  background: var(--dark-color);
  opacity: 85%;
}
.row-primary-color {
  background: var(--primary-color);
}

.border {
  border-right: 2px solid var(--dark-color);
  border-left: 2px solid var(--dark-color);
}
th {
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.3em;
}

/*Border radius on all sides*/
.bottom {
  border-bottom-right-radius: 5px;
}
.top {
  border-bottom-left-radius: 5px;
}
.rad_left {
  border-top-left-radius: 5px;
}
.rad_right {
  border-top-right-radius: 5px;
}
