:root {
    --dark-color:#145071;
    --primary-color:#1683BF;
}


body{
    background-color: #B2E8FF;
    font-family: 'Fredoka One', cursive;

}

/*Buttons*/
.btn_wrap{
    display: flex;
    justify-content: space-between;
}
.clear , .report {
    background-color: #1683BF;
    color: #FFFFFF;
    font-family: 'Fredoka One', cursive;
    width: 220px;
    height: 90px;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
}
h4{
    color: var( --dark-color);
    font-size: 2.5em; 
    padding-left: 35rem;
}
.close {
    background-color: var(--primary-color);
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-top: 2rem;
    
}
.one {
    display: flex;
    justify-content: space-around;
}

.fa-times{
    color: #FFFFFF;
    padding-left: 1.2rem;
}
/*Table*/

.log {
    height: 600px;
    width: 1300px;
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
}


.table-titles {
    background: var(--dark-color);
    
    
}
.row-dark-color {
    background: var(--dark-color);
    opacity: 50%;
    
}
.row-primary-color {
    background: var(--primary-color);
   
}

.border{
    border-right: 2px solid var(--dark-color);
    border-left: 2px solid var(--dark-color) ;  
}
th{
    padding: 1.5rem;
    color: #FFFFFF;
    font-size: 1.3em;  
}

/*Border radius on all sides*/
.bottom{
    border-bottom-right-radius: 5px;
}
.top{
    border-bottom-left-radius: 5px;
}
.rad_left{
    border-top-left-radius: 5px;
}
.rad_right{
    border-top-right-radius: 5px;
}