.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS COMMON FOR ALL PAGES */

:root {
  --background-color: #b2e8ff;
  --light-color: #ffffff;
  --dark-color: #145071;
  --primary-color: #1683bf;
  --border-color: #154560;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--dark-color);
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  height: 100vh;
  letter-spacing: 2px;
}

h2 {
  font-size: 47px;
  letter-spacing: 2px;
}

.btn {
  color: var(--light-color);
  background: var(--primary-color);
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

a {
  display: block;
  width: 100%;
}

i {
  font-size: 72px;
}

/* Scrolling in table */

.table-scroll {
  height: 100%;
  overflow: auto;
}

.table-scroll table {
  width: 100%;
  text-align: center;
  color: var(--light-color);
}

/* Grid for the whole page, common features */

.grid-wrap {
  max-width: 80vw;
  height: 90vh;
  margin: 2rem auto 2rem;
  display: grid;
}
